.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2051; /* Garantir que fique sobre outros elementos */
    width: auto;  /* Ou você pode definir um tamanho fixo, se preferir */
  }

  .App{
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
    height: 100%;
    width: 100vw;
    min-height: 100vh;
  }