.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2051; /* Garantir que fique sobre outros elementos */
    width: auto;  /* Ou você pode definir um tamanho fixo, se preferir */
  }